#weather{
    height: 100vh;
    background-image: url(./drops.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.6);
}
.drop{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; 
}
#weather .select{
    background: white;
    border-radius: 20px;
}
.weather-display{
    position: relative;
    bottom: -200px;
    border-radius: 10px;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.252);
    color: white;
    font-size: 1.2rem;
    height: 30vh;
}
.humid span{
    font-size: 1.5rem;
}
.humid p{
    font-size: 2rem;
    font-weight: bold;
}
.ico{
    height: 30px;
    padding-left: 10px;
}
.temp p{
    font-size: 6rem;
    font-weight: bold;
}
.date{
    font-size: 1.2rem;
    color: white;
}
.city{
    font-size: 3rem;
    font-weight: bold;
    color: white;
}
.details{
    position: relative;
    top:100px
}